json("../../styleconfig.json")
@import "~artistry";

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translateX(-50%) translateY(-50%);
    font-size: 30px;
    font-weight: bold;
}

.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    & > .message-info {
        display: flex;
        flex-direction: row;

        & > .message-email {
            flex-grow: 1;
            font-weight: bold;
        }

        & > .message-controls {
        }
    }

    & > .message-text {
    }
}